@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;

    text-transform: capitalize;
    transition: .2s linear;

  }
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    scroll-padding-top: 7rem;
    scroll-behavior: smooth;

  }

  html::-webkit-scrollbar{
    width: .8rem;
  }
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
  }


  body {
    margin: 0px;
    padding: 0px;
  }
  .layar-dalam {
    width: 1000px;
    margin: auto;
  }
  .layar-penuh {
    width: 100%;
  }
  nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
  }
  nav.putih {
    background-color: #fff;
  }
  nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
  }
  nav .logo img {
    vertical-align: middle;
    width: 70px;
  }
  nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
  }
  nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
  }
  nav ul li a {
    font-size: larger;
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }

/* pengaturan header */
header {
    position: relative;
    height: 100vh;
    width: cover;
    overflow: hidden;
    z-index: 2;
    
  }
  header video {
    
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
    
  }
  header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
  }
  header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
  }
  .tombol {
    background-color: #c86b85;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
  }
  .tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .tombol-menu .garis {
    height: 3px;
    background-color: #fff;
  }
  section {
    padding: 50px 0px 50px 0px;
  }
  section h3 {
    font-size: 30px;
  }
  section h3::after {
    content: "";
    border-bottom: 5px solid #c86b85;
    width: 52px;
    display: block;
    margin: 20px auto;
  }
  #aboutus,
  #team,
  #blog {
    text-align: center;
  }
  section p.ringkasan {
    font-style: italic;
    font-size: 22px;
    color: #05f825;
  }
  section .konten-isi p {
    font-style: normal;
  }
  nav.putih {
    background-color: #fff;
  }
  nav.putih .tombol-menu .garis {
    background-color: #333;
  }
  nav.putih ul li a {
    color: #333;
  }
  nav .logo img.hitam {
    display: none;
  }
  section.abuabu {
    background-color: #f5f6f6;
  }

  .support,
  .tim,
  .blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .support h6,
  .tim h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
  }
  .support img {
    width: 100px;
  }
  .support div,
  .tim div {
    text-align: center;
    width: 26%;
  }


  .blogs{
    background: url(asset/cisco.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.blogs  .blogs-row .box {
    display: flex;
    align-items: center;
    background-color: var(--white);
    flex-wrap: wrap;
}
.blogs .blogs-row .box .img{
    flex: 1 1 90rem;
    
}

.blogs .blogs-row .box .imgr{
    flex: 1 1 3rem;
}


.blogs .blogs-row .box .img img{
    width: 90%;
    padding: 3rem;
    
}

.blogs .blogs-row .box .imgr img{
    width: 100%;
    padding: 5rem;
}

.blogs .blogs-row .box .img1 img{
    align-items: center;
    width: 40%;
    padding: 3rem;
}


.blogs .blogs-row .box .content{
    flex: 1 1 45rem;
    padding: 2rem;
    
}
.blogs .blogs-row .box .content h3{
    margin-left: 100px;

    font-size: 3.5rem;
    color: green;
    text-shadow: var(--box-shadow);

}
.blogs .blogs-row .box .content p{
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
    
}
.blogs .blogs-row .box .content a{
    font-size: 2rem;
    cursor: pointer;
}
.blogs .blogs-row .box .content a:hover{
    color: var(--black);
    text-shadow: var(--box-shadow);
}

  

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.display-1{
  font-size: larger;
}

.hero .slider-btn { display: none; }

.hero {
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero .slider-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}

.hero .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.hero .slider-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.hero .section-subtitle::after { margin-block: 14px 20px; }

.hero-text { margin-block: 10px 40px; }

.hero .btn { margin-inline: auto; }

.hero-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background-color: var(--gold-crayola);
  width: 110px;
  height: 110px;
  padding: 12px;
  transform: scale(0.6);
}

.hero-btn img {
  margin-inline: auto;
  margin-block-end: 6px;
}

.hero-btn .span {
  color: var(--black);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-1);
  line-height: var(--lineHeight-3);
}

.hero-btn::after {
  inset: 0;
  border: 1px solid var(--gold-crayola);
  animation: rotate360 15s linear infinite;
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero .slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero .slider-item.active .section-subtitle { animation-delay: 500ms; }

.hero .slider-item.active .hero-title { animation-delay: 1000ms; }

.hero .slider-item.active .hero-text { animation-delay: 1.5s; }

.hero .slider-item.active .btn { animation-delay: 2s; }


.review .review-row{
  display: flex;
  flex-direction: column ;
  align-items: center;
  
}
.review .review-row .box{
  width: 100%; 
  margin-bottom: 3rem;
  padding: 3rem;
  border-radius: 3rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.review .review-row .box .client-review{
  margin-bottom: 3rem;
}
.review .review-row .box .client-review p{
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.5;
}
.review .review-row .box .client-info{
  display: flex;
  align-items: center;
}
.review .review-row .box .client-info .img{
  padding-right: 2rem;
}
.review .review-row .box .client-info .img img{
  width: 7rem;
  height: 7rem;
  clip-path: circle(50% at 50% 50%);
}

.review .review-row .box .client-info .clientDetailed h3{
  font-size: 1.5rem;

}
.review .review-row .box .client-info .clientDetailed p{
  font-size: 1.5rem;
}

.review .review-row .box .client-info .clientDetailed a{
  font-size: 20px;
}





  section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
  }
  section#gallery div {
    padding: 10px;
  }
  section#gallery div img {
    height: 100px;
    border-radius: 5px;
  }
  section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
  section.quote {
    background: url("asset/wifi\ tplink.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-style: italic;
    padding: 100px;
  }
  section.quote .layar-dalam p {
    display: inline;
    background: url("asset/quote-icon.png") no-repeat;
    padding: 40px;
    
  }
  .tim img {
    width: 100%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
  }
  .blog .area {
    width: 47%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog div.area div {
    width: 50%;
  }
  .blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .blog .area .text article {
    padding: 40px;
  }
  .blog .area .text article h4 {
    margin: 0px;
  }
  .blog .area .text article a {
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  .blog .area .text article a:hover {
    color: #ccc;
  }
  footer {
    padding: 50px 0px 50px 0px;
    background-color: #6b747e;
    color: #fff;
  }
  footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .layar-dalam div {
    width: 20%;
  }
  footer .layar-dalam a {
    text-decoration:none;
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
  }

  footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
    
  }
  footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
  }

  @media screen and (max-width: 991.98px) {
  
  
    header {
      position: relative;
      height: 60vh;
      width: cover;
      overflow: hidden;
      z-index: 2;
      
    }
  
    header video {
    
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -2;
      width: 500PX;
    }
    header .intro h3 {
      
      font-size: 30px;
      margin: 0;
      padding: 0;
      color: #016b0f;
    }
    header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 40%;
      width: 100%;
      background-color: #000;
      opacity: 50%;
      z-index: -1;
    }
      
    .layar-dalam {
      width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
      nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
      }
      nav .menu ul li a {
        color: #333;
      }
  .tombol-menu {
    display: flex;
  }

  .blogs .blogs-row .box .content h3{
    font-size: 20px;
  }

  .blog .area {
    display: block;
  }
  .blog div.area div {
    width: 100%;
  }
  .blog .area .gambar {
    border-radius: 5px 5px 0px 0px;
    height: 200px;
  }

  

  
  .support {
    display: block;
  }
  .support div {
    width: 100%;
    padding-bottom: 30px;
  }
  footer .layar-dalam a {
    margin-right: 5px;
    padding-right: 5px;
    text-decoration:none;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
  }

}
                                                                                                  